header {
  margin-left: 2rem;
}



.container {
  visibility: hidden;
  margin-left: 10px;
  margin-top: 10px;

}

.one {
  background-color: bisque;
  height: 15rem;

}

.two {
  background-color: antiquewhite;
  height: 15rem;
}

.gameOver {
  color:white;
  margin-left:10px;
}